- if @group.errors.any?
  .chat-group-form__errors
    %h2="#{@group.errors.count} 件のエラーがあります。"
    %ul
      -@group.errors.full_messages.each do |message|
        %li
          = message
= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      =f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        =text_field_tag :keyword, "", class: 'chat-group-form__input', id: 'user-search-field', placeholder: '追加したいユーザー名を入力してください'
      #user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label 'チャットメンバー', class: 'chat-group-form__label'
    .chat-group-form__field--right
      .chat-group-user.clearfix.js-chat-member#chat-group-user-8
        %p.chat-group-user__name
          =current_user.name
      =f.hidden_field :user_ids, value: current_user.id
      #chat-member-list
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      =f.submit "Save", class: "chat-group-form__action-btn"

