
    &__left-content{
      width: 300px;
      height: 100vh;
      float: left;
      position: fixed;
      left: 0;

      &__user-name-space{
        background-color: #253141;
        height: 120px-35px;
        padding: 35px 20px 0 20px;
        width: 300px-20px-20px;
        position: fixed;


        &__user-name {
          font-size: 20px;
          font-wight: bold;
          color: $white-color;
          float: left;
        }

        &__icon{
          float: right;
          padding-top: 5px;
            .fa-gear:before, .fa-cog:before {
              content: "\f013";
              font-size: 20px;
              font-wight: bold;
              color: white;
              float: left;
              padding-left: 5px;
              top: 5px;
            }

            .fa-pencil-square-o:before {
              color: white;
              font-size: 20px;
              float: right;
              padding-left: 10px;
            }
         }
      }

      &__group-list {
          background-color: #2f3e51;
          height: 100vh;
          padding-top: 120px;

          &__group {
            height: 20px+15px+5px+11px+40px;
            padding: 20px 20px 40px 20px;
            margin-bottom: 5px;

          &__list {
            padding-bottom: 40px;

          h3 {
            font-size: 15px;
            color: $white-color;
             }

          p {
            font-size: 11px;
            color: $white-color;
            }
          }
          }
        }
      }
